Extração dos dados do ENADE

In [1]:
#Importar bibliotecas necessárias
import pandas as pd
import numpy as np
import zipfile
import requests
from io import BytesIO
import os

In [4]:
#Criar um diretório para armazenar o conteúdo do ENADE
os.makedirs('./enade2019', exist_ok=True)

In [19]:
# Define a url
url = 'https://download.inep.gov.br/microdados/microdados_enade_2019_LGPD.zip'

# faz o downloads do conteúdo
filebytes = BytesIO(
    requests.get(url).content
)

# extrair o conteúdo do zipfile
myzip = zipfile.ZipFile(filebytes)
myzip.extractall("./enade2019")

## Verificando os dados baixados

In [2]:
enade = pd.read_csv(
    "./enade2017/3.DADOS/MICRODADOS_ENADE_2017.txt",
    sep = ";", decimal = ","
)

/tmp/ipykernel_11005/3203573452.py:1: DtypeWarning: Columns (29,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  enade = pd.read_csv(

In [3]:
enade

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I72,QE_I73,QE_I74,QE_I75,QE_I76,QE_I77,QE_I78,QE_I79,QE_I80,QE_I81
0,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537431,2017,19578,2,10022,6208,5001279,1,3513009,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537432,2017,19578,2,10022,6208,5001279,1,3513009,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537433,2017,19578,2,10022,6208,5001279,1,3513009,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537434,2017,19578,2,10022,6208,5001279,1,3513009,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537435,2017,19578,2,10022,6208,5001279,1,3513009,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
enade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537436 entries, 0 to 537435
Columns: 150 entries, NU_ANO to QE_I81
dtypes: float64(74), int64(21), object(55)
memory usage: 615.0+ MB

In [5]:
dict(enade.dtypes)

{'NU_ANO': dtype('int64'),
 'CO_IES': dtype('int64'),
 'CO_CATEGAD': dtype('int64'),
 'CO_ORGACAD': dtype('int64'),
 'CO_GRUPO': dtype('int64'),
 'CO_CURSO': dtype('int64'),
 'CO_MODALIDADE': dtype('int64'),
 'CO_MUNIC_CURSO': dtype('int64'),
 'CO_UF_CURSO': dtype('int64'),
 'CO_REGIAO_CURSO': dtype('int64'),
 'NU_IDADE': dtype('int64'),
 'TP_SEXO': dtype('O'),
 'ANO_FIM_EM': dtype('float64'),
 'ANO_IN_GRAD': dtype('float64'),
 'CO_TURNO_GRADUACAO': dtype('float64'),
 'TP_INSCRICAO_ADM': dtype('int64'),
 'TP_INSCRICAO': dtype('int64'),
 'NU_ITEM_OFG': dtype('int64'),
 'NU_ITEM_OFG_Z': dtype('int64'),
 'NU_ITEM_OFG_X': dtype('int64'),
 'NU_ITEM_OFG_N': dtype('int64'),
 'NU_ITEM_OCE': dtype('int64'),
 'NU_ITEM_OCE_Z': dtype('int64'),
 'NU_ITEM_OCE_X': dtype('int64'),
 'NU_ITEM_OCE_N': dtype('int64'),
 'DS_VT_GAB_OFG_ORIG': dtype('O'),
 'DS_VT_GAB_OFG_FIN': dtype('O'),
 'DS_VT_GAB_OCE_ORIG': dtype('O'),
 'DS_VT_GAB_OCE_FIN': dtype('O'),
 'DS_VT_ESC_OFG': dtype('O'),
 'DS_VT_ACE_OFG': dtype('float64'),
 'DS_VT_ESC_OCE': dtype('O'),
 'DS_VT_ACE_OCE': dtype('O'),
 'TP_PRES': dtype('float64'),
 'TP_PR_GER': dtype('float64'),
 'TP_PR_OB_FG': dtype('float64'),
 'TP_PR_DI_FG': dtype('float64'),
 'TP_PR_OB_CE': dtype('float64'),
 'TP_PR_DI_CE': dtype('float64'),
 'TP_SFG_D1': dtype('float64'),
 'TP_SFG_D2': dtype('float64'),
 'TP_SCE_D1': dtype('float64'),
 'TP_SCE_D2': dtype('float64'),
 'TP_SCE_D3': dtype('float64'),
 'NT_GER': dtype('float64'),
 'NT_FG': dtype('float64'),
 'NT_OBJ_FG': dtype('float64'),
 'NT_DIS_FG': dtype('float64'),
 'NT_FG_D1': dtype('float64'),
 'NT_FG_D1_PT': dtype('float64'),
 'NT_FG_D1_CT': dtype('float64'),
 'NT_FG_D2': dtype('float64'),
 'NT_FG_D2_PT': dtype('float64'),
 'NT_FG_D2_CT': dtype('float64'),
 'NT_CE': dtype('float64'),
 'NT_OBJ_CE': dtype('float64'),
 'NT_DIS_CE': dtype('float64'),
 'NT_CE_D1': dtype('float64'),
 'NT_CE_D2': dtype('float64'),
 'NT_CE_D3': dtype('float64'),
 'CO_RS_I1': dtype('O'),
 'CO_RS_I2': dtype('O'),
 'CO_RS_I3': dtype('O'),
 'CO_RS_I4': dtype('O'),
 'CO_RS_I5': dtype('O'),
 'CO_RS_I6': dtype('O'),
 'CO_RS_I7': dtype('O'),
 'CO_RS_I8': dtype('O'),
 'CO_RS_I9': dtype('O'),
 'QE_I01': dtype('O'),
 'QE_I02': dtype('O'),
 'QE_I03': dtype('O'),
 'QE_I04': dtype('O'),
 'QE_I05': dtype('O'),
 'QE_I06': dtype('O'),
 'QE_I07': dtype('O'),
 'QE_I08': dtype('O'),
 'QE_I09': dtype('O'),
 'QE_I10': dtype('O'),
 'QE_I11': dtype('O'),
 'QE_I12': dtype('O'),
 'QE_I13': dtype('O'),
 'QE_I14': dtype('O'),
 'QE_I15': dtype('O'),
 'QE_I16': dtype('float64'),
 'QE_I17': dtype('O'),
 'QE_I18': dtype('O'),
 'QE_I19': dtype('O'),
 'QE_I20': dtype('O'),
 'QE_I21': dtype('O'),
 'QE_I22': dtype('O'),
 'QE_I23': dtype('O'),
 'QE_I24': dtype('O'),
 'QE_I25': dtype('O'),
 'QE_I26': dtype('O'),
 'QE_I27': dtype('float64'),
 'QE_I28': dtype('float64'),
 'QE_I29': dtype('float64'),
 'QE_I30': dtype('float64'),
 'QE_I31': dtype('float64'),
 'QE_I32': dtype('float64'),
 'QE_I33': dtype('float64'),
 'QE_I34': dtype('float64'),
 'QE_I35': dtype('float64'),
 'QE_I36': dtype('float64'),
 'QE_I37': dtype('float64'),
 'QE_I38': dtype('float64'),
 'QE_I39': dtype('float64'),
 'QE_I40': dtype('float64'),
 'QE_I41': dtype('float64'),
 'QE_I42': dtype('float64'),
 'QE_I43': dtype('float64'),
 'QE_I44': dtype('float64'),
 'QE_I45': dtype('float64'),
 'QE_I46': dtype('float64'),
 'QE_I47': dtype('float64'),
 'QE_I48': dtype('float64'),
 'QE_I49': dtype('float64'),
 'QE_I50': dtype('float64'),
 'QE_I51': dtype('float64'),
 'QE_I52': dtype('float64'),
 'QE_I53': dtype('float64'),
 'QE_I54': dtype('float64'),
 'QE_I55': dtype('float64'),
 'QE_I56': dtype('float64'),
 'QE_I57': dtype('float64'),
 'QE_I58': dtype('float64'),
 'QE_I59': dtype('float64'),
 'QE_I60': dtype('float64'),
 'QE_I61': dtype('float64'),
 'QE_I62': dtype('float64'),
 'QE_I63': dtype('float64'),
 'QE_I64': dtype('float64'),
 'QE_I65': dtype('float64'),
 'QE_I66': dtype('float64'),
 'QE_I67': dtype('float64'),
 'QE_I68': dtype('float64'),
 'QE_I69': dtype('O'),
 'QE_I70': dtype('O'),
 'QE_I71': dtype('O'),
 'QE_I72': dtype('O'),
 'QE_I73': dtype('O'),
 'QE_I74': dtype('O'),
 'QE_I75': dtype('O'),
 'QE_I76': dtype('O'),
 'QE_I77': dtype('O'),
 'QE_I78': dtype('O'),
 'QE_I79': dtype('O'),
 'QE_I80': dtype('O'),
 'QE_I81': dtype('O')}